html, body {
    height: 100%;
}

iframe {
    filter: grayscale(100%);
}

img {
    filter: grayscale(100%);
    width: 30vw;
}

video {
    filter: grayscale(100%);
    width: 30vw;
}

@font-face {
    font-family: Mugglenews;
    src: url("../mugglenews.ttf");
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    font-family: Mugglenews, arial, serif;
    font-size: 10vw;
    margin: 0;
}

h2 {
    font-family: Mugglenews, arial, serif;
    font-size: 2.5vw;
    margin: 0;
}

h3 {
    font-family: Mugglenews, arial, serif;
    font-size: 2vw;
    margin: 0;
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
}

.text_right {
    text-align: right;
}

.textflow {
    font-family: Mugglenews;
}

.text_area {
    margin: 10px 30px 30px 30px;
    font-size: 1.3vw;
}

.wrap_left {
    float: left;
    margin: 5px 5px 5px 5px;
}

.wrap_right {
    float: right;
    margin: 5px 5px 5px 5px;
}

.header_table {
    padding-top: 2px;
    padding-right: 20px;
    padding-bottom: 2px;
    padding-left: 20px;
    margin: 0;
}

figcaption {
    font-family: Mugglenews;
}